In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#Load old epic egg weights file
epic_egg = pd.read_csv("epic_egg_weights.csv")
epic_egg["p"] = epic_egg.loc[:,"Weight"]/epic_egg.loc[:,"Weight"].sum()

paradox = list(epic_egg[epic_egg["Label"] == "PARADOX"].iloc[:,0])
egg_only = list(epic_egg[epic_egg["Label"] == "EGGSCLUSIVE"].iloc[:,0])

all_egg_only = paradox+egg_only

In [3]:
#Load new epic egg weights file (thank you c4v)
epic_egg_new = pd.read_csv("epic_egg_weights_updated_fixed.csv")
epic_egg_new = epic_egg_new[:-1] #Drop the last row
epic_egg_new["p"] = epic_egg_new.loc[:,"Weight"]/epic_egg_new.loc[:,"Weight"].sum()

paradox_new = list(epic_egg_new[epic_egg_new["Label"] == "PARADOX"].iloc[:,0])
egg_only_new = list(epic_egg_new[epic_egg_new["Label"] == "EGGSCLUSIVE"].iloc[:,0])

all_egg_only_new = paradox_new + egg_only_new

In [4]:
epic_egg_new.loc[:,"Weight"]

0     100
1     175
2     175
3     175
4     175
     ...
90    175
91    100
92    175
93    100
94    175
Name: Weight, Length: 95, dtype: int64

In [5]:
def namespace_gen(df):
    paradox = list(df[df["Label"] == "PARADOX"].iloc[:,0])
    egg_only = list(df[df["Label"] == "EGGSCLUSIVE"].iloc[:,0])

    all_egg_only = paradox+egg_only
    
    return paradox, egg_only, all_egg_only

In [6]:
def choose_egg(df):
    return np.random.choice(df.iloc[:,0], p = df.loc[:,'p'])

In [7]:
def complete_eggsclusives(df):
    egg_list = []
    cond = 0
    counter = 0

    while cond == False:
        egg_list.append(choose_egg(df))
        counter += 1

        cond = all(elem in egg_list for elem in all_egg_only)

        #if counter % 1000 == 0:
        #    print(f"Eggs generated:{counter}")
            
    return egg_list

In [9]:
def run_egg_sim(weights_df,num_realizations, filename = "output.pkl"):
    egg_collect = []

    for i in range(num_realizations):
        egg_collect.append(complete_eggsclusives(epic_egg_new))

    egg_counts = [len(egg_list) for egg_list in egg_collect]

    egg_realizations_new_df = pd.DataFrame([egg_collect , egg_counts]).T
    egg_realizations_new_df.columns = ["egg_data", "counts"]

    egg_realizations_new_df.to_pickle(filename) #Save DataFrame to a pickle file for storage
    
    return egg_realizations_new_df

In [11]:
#Run sim for 100 iterations using the new egg weights for epics
run_egg_sim(epic_egg_new, 100)

                                             egg_data counts
0   [XURKITREE, SANDY_SHOCKS, AZELF, CRESSELIA, OK...    462
1   [ZERAORA, TING_LU, BRUTE_BONNET, UXIE, KELDEO,...    371
2   [GLASTRIER, BUZZWOLE, CRESSELIA, NIHILEGO, SCR...    547
3   [FEZANDIPITI, TAPU_LELE, IRON_TREADS, VICTINI,...    358
4   [IRON_HANDS, MUNKIDORI, MUNKIDORI, FLUTTER_MAN...    347
..                                                ...    ...
95  [THUNDURUS, GUZZLORD, IRON_LEAVES, COSMOG, ZER...    459
96  [NIHILEGO, WO_CHIEN, FEZANDIPITI, VOLCANION, S...    331
97  [IRON_HANDS, RAIKOU, IRON_LEAVES, FEZANDIPITI,...    736
98  [BLACEPHALON, ENTEI, COBALION, POIPOLE, STAKAT...    472
99  [HEATRAN, MOLTRES, CRESSELIA, TERRAKION, MEW, ...    229

[100 rows x 2 columns]